body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fundo.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
}

audio {
    width: 80%;
    max-width: 400px;
    margin: 20px 0;
}

.qrcode img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}